@grid-span-height: 40px;

html {
  height: 100%;
}

body {
  height: 100%;
}

code, code * {
  font-size: 14px !important;
  line-height: 1.45em;
}

.demo {
  height: 100%;

  .viewport {
    margin-left: 20px;
  }

  @media only screen and (max-width : @viewport-min-width) {
    margin-right: 0;
    height: auto;

    .viewport {
      margin-left: 0;
    }
  }

  .hero {
    background: #222;
    padding: 20px 0;
    margin-bottom: 50px;
    min-width: @viewport-min-width;

    .description {
      color: #81888D;
    }

    .logo {
      margin-bottom: 0;
      margin-top: 0;
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 1.5em;

      .text {
        font-family: @base-font-family;
        font-size: 11px;
        position: absolute;
        line-height: 1.4em;
        top: 130px;
        left: 67px;
        text-transform: uppercase;
        font-weight: 100;
      }

      i {
        display: inline;
        margin: 0;
        color: #57616a;
        position: relative;
        z-index: 2;
      }
    }
  }

  .grid-sample {
    div div {
      background: #d5dadf;
      color: #505961;
      text-align: center;
      line-height: @grid-span-height;
      height: @grid-span-height;
      margin-top: 10px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .border-radius(@base-border-radius);
      .box-sizing(border-box);
    }
  }
}