.form {

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="range"],
input[type="file"],
input[type="datetime-local"],
textarea {
  display: block;
  outline: none;
  border: 1px solid transparent;
  background: @panel-color-light + 10;
  border-radius: @base-border-radius;
  .animation-ease-in-quad(150ms);
  padding: 0.35em 1ex;
  font-size: 1em;
  color: @base-text-color;
}

select {
  display: block;
  outline: none;
  border: none;
}

input:hover,
textarea:hover {
  background: @panel-color-light + 5;
}

input:focus,
textarea:focus {
  border-color: @color-blue-light;
}

label {
  display: block;
  margin-bottom: 1.6em;
}