.hero-header {
  font-size: 5em;
}

h1, h2, h3, h4, h5 {
  color: @base-header-color;
  line-height: @base-line-height / 1.35;
}

h1 {
  font-size: 2.6em;
  margin-bottom: 0.3em;
  line-height: @base-line-height - 0.35;
}

h2 {
  font-size: 2.1em;

  margin-bottom: 0.38em;
  line-height: @base-line-height - 0.3;
}

h3 {
  font-size: 1.65em;

  margin-bottom: 0.38em;
  line-height: @base-line-height - 0.3;
}

h4 {
  font-size: 1.25em;

  margin-bottom: 0.38em;
  line-height: @base-line-height - 0.2;
}

h5 {
  font-size: 1em;
  margin-bottom: 0.38em;
  line-height: @base-line-height;
}

h6 {
  font-size: 1em;
  margin-bottom: 0.38em;
  line-height: @base-line-height;
  color: @base-text-color;
}

.subheading {
  font-weight: 100;
}


p {
  margin-top: 0.5em;
  margin-bottom: 1.6em;
}

.lead {
  font-size: 1.5em;
  font-weight: 100;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre,
code {
  display: inline;
  background: @panel-color-light;
  padding: 0 0.3ex;
  color: @panel-color-dark;
  .border-radius(@base-border-radius);
}

pre {
  display: block;
  margin-bottom: 1.6em;
  padding: 1em 1.4ex;
}

hr {
  margin: 2em 0;
  border-width: @hr-border-width;
}

ul, ol {
  margin-bottom: 1.7em;

  li {
    margin-left: 2ex;
  }
}