<% title = 'Navigation' %>

<% include include/content-pre.ejs %>

<!-- VIEWPORT -->  
<h2>Vertical navigation</h2>

<div class="grid-12">
    <div class="span-4">
        <nav class="navigation-vertical navigation-bordered">
            <a href="#">Item 1</a>
            <a class="active" href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
            <a href="#">Item 5</a>
        </nav>
    </div>

    <div class="span-4">
        <nav class="navigation-vertical navigation-light">
            <a href="#">Item 1</a>
            <a class="active" href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
            <a href="#">Item 5</a>
        </nav>
    </div>

    <div class="span-4">
        <nav class="navigation-vertical navigation-dark">
            <a href="#">Item 1</a>
            <a class="active" href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
            <a href="#">Item 5</a>
        </nav>
    </div>
</div>

<code><pre class="prettyprint">
&lt;nav class="navigation-vertical navigation-bordered"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="navigation-vertical navigation-light"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="navigation-vertical navigation-dark"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;</pre></code>


<br/>
<br/>
<h2>Horizontal navigation</h2>

<nav class="navigation-horizontal navigation-bordered">
    <a href="#">Item 1</a>
    <a class="active" href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
</nav>

<nav class="navigation-horizontal navigation-light">
    <a href="#">Item 1</a>
    <a class="active" href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
</nav>

<nav class="navigation-horizontal navigation-dark">
    <a href="#">Item 1</a>
    <a class="active" href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
</nav>

<code><pre class="prettyprint">
&lt;nav class="navigation-horizontal navigation-bordered"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="navigation-horizontal navigation-light"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="navigation-horizontal navigation-dark"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;</pre></code>

<h2>Stretched horizontal navigation</h2>

<nav class="navigation-horizontal navigation-bordered stretch">
    <a href="#">Item 1</a>
    <a class="active" href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
</nav>

<code><pre class="prettyprint">
&lt;nav class="navigation-horizontal stretch"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
    &lt;a href="#"&gt;Item 5&lt;/a&gt;
&lt;/nav&gt;</pre></code>
<!-- /VIEWPORT -->   

<% include include/content-post.ejs %>