<% title = 'Typography' %>

<!DOCTYPE html>
<html>
<% include include/head.ejs %>

<body class="demo">
<% include include/header.ejs %>

<div class="content">
    <div class="wrapper width-fluid-100 width-static-1000">
        <div class="grid-12">
            <div class="span-3">
                <% include include/nav-main.ejs %>
            </div>

            <div class="span-9">
                <div class="viewport">
                    <!-- VIEWPORT -->
                    <div class="wrapper width-fluid-100 width-static-1000">
                        <h1 class="font-thin">Typography</h1>

                        <hr/>

                        <h1>Header 1</h1>
                        <code class="prettyprint">&lt;h1&gt;Header 1&lt;/h1&gt;</code>

                        <h2>Header 2</h2>
                        <code class="prettyprint">&lt;h2&gt;Header 2&lt;/h2&gt;</code>

                        <h3>Header 3</h3>
                        <code class="prettyprint">&lt;h3&gt;Header 3&lt;/h3&gt;</code>

                        <h4>Header 4</h4>
                        <code class="prettyprint">&lt;h4&gt;Header 4&lt;/h4&gt;</code>

                        <h5>Header 5</h5>
                        <code class="prettyprint">&lt;h5&gt;Header 5&lt;/h5&gt;</code>

                        <h6>Header 6</h6>
                        <code class="prettyprint">&lt;h6&gt;Header 6&lt;/h6&gt;</code>



                        <br>
                        <br>



                        <hgroup>
                            <h1>Header 1</h1>
                            <h1 class="subheading">Subheading 1</h1>
                        </hgroup>
                        <code><pre class="prettyprint">
&lt;hgroup&gt;
    &lt;h1&gt;Header 1&lt;/h1&gt;
    &lt;h1 class="subheading"&gt;Subheading 1&lt;/h1&gt;
&lt;/hgroup&gt;</pre></code>


                        <hgroup>
                            <h2>Header 2</h2>
                            <h2 class="subheading">Subheading 2</h2>
                        </hgroup>
                        <code><pre class="prettyprint">
&lt;hgroup&gt;
    &lt;h2&gt;Header 2&lt;/h2&gt;
    &lt;h2 class="subheading"&gt;Subheading 2&lt;/h2&gt;
&lt;/hgroup&gt;</pre></code>


                        <hgroup>
                            <h3>Header 3</h3>
                            <h3 class="subheading">Subheading 3</h3>
                        </hgroup>
                        <code><pre class="prettyprint">
&lt;hgroup&gt;
    &lt;h3&gt;Header 3&lt;/h3&gt;
    &lt;h3 class="subheading"&gt;Subheading 3&lt;/h3&gt;
&lt;/hgroup&gt;</pre></code>


                        <hgroup>
                            <h4>Header 4</h4>
                            <h4 class="subheading">Subheading 4</h4>
                        </hgroup>
                        <code><pre class="prettyprint">
&lt;hgroup&gt;
    &lt;h4&gt;Header 4&lt;/h4&gt;
    &lt;h4 class="subheading"&gt;Subheading 4&lt;/h4&gt;
&lt;/hgroup&gt;</pre></code>


                        <hgroup>
                            <h5>Header 5</h5>
                            <h5 class="subheading">Subheading 5</h5>
                        </hgroup>
                        <code><pre class="prettyprint">
&lt;hgroup&gt;
    &lt;h5&gt;Header 5&lt;/h5&gt;
    &lt;h5 class="subheading"&gt;Subheading 5&lt;/h5&gt;
&lt;/hgroup&gt;</pre></code>


                        <br>
                        <br>

                        <h2>Lead</h2>

                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>

                        <code class="prettyprint">&lt;p class="lead"&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;</code>


                        <br/>
                        <br/>

                        <h2>Paragraph</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>

                        <code class="prettyprint">&lt;p&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;</code>


                        <br/>
                        <br/>

                        <h2>Address</h2>

                        <address>
                            <strong>Address Tag</strong><br />
                            PO Box 87523<br>
                            Vancouver, WA 98687<br>
                            USA<br>
                        </address>


                        <hr/>
                    </div>
                    <!-- /VIEWPORT -->

                </div>
            </div>
        </div>
    </div>
</div>

<% include include/scripts.ejs %>

</body>
</html>