@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
.color-green {
  color: #12b496;
}
.color-red {
  color: #f0644d;
}
.color-blue {
  color: #0ea2bb;
}
.color-blue-light {
  color: #8bbfff;
}
.background-green {
  background-color: #12b496;
}
.background-red {
  background-color: #f0644d;
}
.background-blue {
  background-color: #0ea2bb;
}
.background-blue-light {
  background-color: #8bbfff;
}
a:link {
  color: #0ea2bb;
}
a:visited {
  color: #0ea2bb;
}
a:hover {
  color: #f0644d;
}
a:active {
  color: #f0644d;
}
a.link-dashed {
  text-decoration: none;
  position: relative;
}
a.link-dashed:after {
  border-bottom: 1px dashed #0ea2bb;
  content: '';
  display: block;
  position: absolute;
  bottom: -0.075em;
  height: 0;
  width: 100%;
}
a.link-dashed:link:after {
  border-bottom-color: #0ea2bb;
}
a.link-dashed:visited:after {
  border-bottom-color: #0ea2bb;
}
a.link-dashed:hover:after {
  border-bottom-color: #f0644d;
}
a.link-dashed:hover:after {
  border-bottom-color: #f0644d;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  -ms-interpolation-mode: bicubic;
}
audio {
  width: 100%;
}
.table {
  table-layout: fixed;
}
.table th,
.table td {
  text-align: left;
  padding: 0.75em 1.65ex;
}
.table th {
  font-weight: bold;
  border-bottom: 1px solid #dddfe0;
}
.table tfoot {
  background: #dddfe0;
}
.table-bordered tbody td {
  border-bottom: 1px solid #dddfe0;
}
.table-boxed {
  border: 1px solid #dddfe0;
}
.table-bordered-vertical td,
.table-bordered-vertical th {
  border-left: 1px solid #dddfe0;
}
.table-bordered-vertical td:first-child,
.table-bordered-vertical th:first-child {
  border-left: none;
}
.table-bordered-vertical tfoot td,
.table-bordered-vertical tfoot th {
  border-left-color: #c4c6c7;
}
.table-stripped tbody tr:nth-child(even) {
  background: #eff1f2;
}
.table-hoverable tbody tr:hover {
  background: #e9ebec;
}
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-75 {
  width: 75%;
}
.width-70 {
  width: 70%;
}
.width-66 {
  width: 66.6%;
}
.width-65 {
  width: 65%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}
.width-40 {
  width: 40%;
}
.width-35 {
  width: 35%;
}
.width-33 {
  width: 33.3%;
}
.width-30 {
  width: 30%;
}
.width-25 {
  width: 25%;
}
.width-20 {
  width: 20%;
}
.width-10 {
  width: 10%;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
}
.wrapper-left {
  margin-right: auto;
}
.wrapper-right {
  margin-left: auto;
}
.grid-12 {
  margin-left: -3%;
}
.grid-12:after {
  content: "";
  display: table;
  clear: both;
}
.grid-12:after {
  content: "";
  display: table;
  clear: both;
}
.grid-12 .span-1 {
  width: 5.33333333%;
}
.grid-12 .span-2 {
  width: 13.66666667%;
}
.grid-12 .span-3 {
  width: 22%;
}
.grid-12 .span-4 {
  width: 30.33333333%;
}
.grid-12 .span-5 {
  width: 38.66666667%;
}
.grid-12 .span-6 {
  width: 47%;
}
.grid-12 .span-7 {
  width: 55.33333333%;
}
.grid-12 .span-8 {
  width: 63.66666667%;
}
.grid-12 .span-9 {
  width: 72%;
}
.grid-12 .span-10 {
  width: 80.33333333%;
}
.grid-12 .span-11 {
  width: 88.66666667%;
}
.grid-12 .span-12 {
  width: 97%;
}
.grid-12 .span-1,
.grid-12 .span-2,
.grid-12 .span-3,
.grid-12 .span-4,
.grid-12 .span-5,
.grid-12 .span-6,
.grid-12 .span-7,
.grid-12 .span-8,
.grid-12 .span-9,
.grid-12 .span-10,
.grid-12 .span-11,
.grid-12 .span-12 {
  float: left;
  margin-left: 3%;
}
.grid-10 {
  margin-left: -3%;
}
.grid-10:after {
  content: "";
  display: table;
  clear: both;
}
.grid-10:after {
  content: "";
  display: table;
  clear: both;
}
.grid-10 .span-1 {
  width: 7%;
}
.grid-10 .span-2 {
  width: 17%;
}
.grid-10 .span-3 {
  width: 27%;
}
.grid-10 .span-4 {
  width: 37%;
}
.grid-10 .span-5 {
  width: 47%;
}
.grid-10 .span-6 {
  width: 57%;
}
.grid-10 .span-7 {
  width: 67%;
}
.grid-10 .span-8 {
  width: 77%;
}
.grid-10 .span-9 {
  width: 87%;
}
.grid-10 .span-10 {
  width: 97%;
}
.grid-10 .span-1,
.grid-10 .span-2,
.grid-10 .span-3,
.grid-10 .span-4,
.grid-10 .span-5,
.grid-10 .span-6,
.grid-10 .span-7,
.grid-10 .span-8,
.grid-10 .span-9,
.grid-10 .span-10 {
  float: left;
  margin-left: 3%;
}
.hero-header {
  font-size: 5em;
}
.subheading {
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.14814815em;
}
h1 {
  font-size: 2.4em;
  margin-bottom: 0.15em;
  line-height: 1.2em;
}
h1.subheading {
  font-size: 2em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.15em;
  line-height: 1.25em;
}
h2.subheading {
  font-size: 1.6em;
  margin-bottom: 0.4em;
}
h3 {
  font-size: 1.6em;
  margin-bottom: 0.2em;
  line-height: 1.25em;
}
h3.subheading {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}
h4 {
  font-size: 1.4em;
  margin-bottom: 0.2em;
  line-height: 1.35em;
}
h4.subheading {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
h5 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  line-height: 1.55em;
}
h5.subheading {
  font-size: 1em;
  margin-bottom: 0.4em;
}
h6 {
  font-size: 1em;
  margin-bottom: 0.2em;
  line-height: 1.55em;
  color: #505961;
}
h6.subheading {
  font-size: 0.8em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 1.6em;
}
.lead {
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.55em;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  display: block;
  margin-bottom: 1.6em;
  padding: 0.75em 2ex;
  background: #f1f3f4;
  color: #616970;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
}
samp {
  background: #f1f3f4;
  color: #616970;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.1em 0.5ex;
}
hr {
  margin: 1em 0 2em;
  border-width: 1px;
}
ul,
ol {
  margin-bottom: 1.7em;
}
ul li,
ol li {
  margin-left: 2ex;
}
body,
th,
td,
p {
  font-family: 'Scada', sans-serif;
  font-size: 16px;
  color: #505961;
  line-height: 1.55em;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.nav-horizontal,
.nav-vertical {
  border-bottom: 1px solid #dddfe0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
.nav-horizontal a,
.nav-vertical a {
  display: inline-block;
  padding: 1em 2.5ex;
  color: #505961;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.nav-horizontal a:hover,
.nav-vertical a:hover {
  background: rgba(0, 0, 0, 0.032);
}
.nav-horizontal a.active,
.nav-vertical a.active {
  background: #dddfe0;
}
@media only screen and (max-width: 540px) {
  .nav-horizontal,
  .nav-vertical {
    position: static;
    width: auto;
  }
  .nav-horizontal a,
  .nav-vertical a {
    display: block;
  }
}
.nav-horizontal a {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
}
.nav-horizontal a:last-of-type {
  border-bottom: none;
}
.nav-stretch a {
  display: table-cell;
  width: 1%;
  float: none !important;
  text-align: center;
}
.nav-horizontal:after {
  content: '';
  clear: both;
  display: block;
}
.nav-vertical {
  border-bottom: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-vertical a {
  display: block !important;
  border-bottom: 1px solid #dddfe0;
}
.nav-vertical a.active {
  background: #dddfe0;
}
.nav-vertical a:first-of-type {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-vertical a:last-of-type {
  border-bottom: none;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-bordered {
  border: 1px solid #dddfe0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-bordered a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-bordered a.active {
  background: #dddfe0;
}
.nav-bordered a:first-of-type {
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-bordered a:last-of-type {
  border-bottom: none;
  -webkit-border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  border-radius: 0 0 1px 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-vertical.nav-bordered a {
  border-bottom: 1px solid #dddfe0;
}
.nav-vertical.nav-bordered a:last-of-type {
  border-bottom: none;
}
.nav-light {
  background: #dddfe0;
  border-bottom: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-light a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-light a.active {
  background: #bfc1c2;
}
.nav-dark {
  background: #616970;
  border-bottom: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-dark a {
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-dark a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.nav-dark a.active {
  background: #7f878e;
}
.nav-vertical.nav-dark,
.nav-vertical.nav-light {
  border: none;
}
.nav-vertical.nav-dark a,
.nav-vertical.nav-light a {
  border: none;
}
.uppercase {
  text-transform: uppercase;
}
.no-border {
  border: none;
}
.border-transparent {
  border-color: transparent;
}
.rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.rounded-2x {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topic {
  padding: 1.5em 2.5ex;
  border: 1px solid transparent;
  margin-bottom: 3.5ex;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topic-bordered {
  border-color: #dddfe0;
}
.topic-light {
  background: #dddfe0;
}
.topic-dark {
  background: #616970;
  color: #fff;
}
.font-thin {
  font-weight: 100;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.button {
  display: inline-block;
  vertical-align: top;
  font-family: 'Scada', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #505961;
  margin: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  background: #dddfe0;
  padding: 0.75em 2.5ex 0.8em;
  outline: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.button:hover {
  background: #ced0d1;
}
.button:active {
  background: #c4c6c7;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.button-go {
  background: #12b496;
  color: #fff;
}
.button-go:hover {
  background: #21c3a5;
}
.button-go:active {
  background: #03a587;
}
.button-stop {
  background: #f0644d;
  color: #fff;
}
.button-stop:hover {
  background: #ff735c;
}
.button-stop:active {
  background: #e1553e;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="range"],
input[type="file"],
input[type="datetime-local"],
textarea {
  display: block;
  outline: none;
  border: 1px solid transparent;
  background: #e7e9ea;
  border-radius: 2px;
  -webkit-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  padding: 0.45em 1ex;
  font-size: 1em;
  color: #505961;
}
select {
  display: block;
  outline: none;
  border: none;
}
input:hover,
textarea:hover {
  background: #e2e4e5;
}
input:focus,
textarea:focus {
  border-color: #8bbfff;
}
label {
  display: block;
  margin-bottom: 1.6em;
}
@media only screen and (max-width: 540px) {
  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    float: none !important;
    width: auto !important;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  min-width: 1100px;
}
@media only screen and (max-width: 540px) {
  body {
    min-width: 500px;
  }
}
code,
code * {
  font-size: 14px !important;
  line-height: 1.45em;
}
.wrapper {
  max-width: 1100px;
}
.content {
  margin: 0 20px;
  min-width: 900px;
}
@media only screen and (max-width: 540px) {
  .content {
    min-width: 500px;
  }
}
.demo {
  height: 100%;
}
@media only screen and (max-width: 540px) {
  .demo {
    margin-right: 0;
    height: auto;
  }
  .demo .viewport {
    margin-left: 0;
  }
}
.demo .hero {
  background: #222;
  padding: 20px 0;
  margin-bottom: 50px;
  min-width: 540px;
}
.demo .hero .description {
  color: #81888D;
}
.demo .hero .logo {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
.demo .hero .logo .text {
  font-family: 'Scada', sans-serif;
  font-size: 11px;
  position: absolute;
  line-height: 1.4em;
  top: 130px;
  left: 67px;
  text-transform: uppercase;
  font-weight: 100;
}
.demo .hero .logo i {
  display: inline;
  margin: 0;
  color: #57616a;
  position: relative;
  z-index: 2;
}
.demo .grid-sample div div {
  background: #B3D3DD;
  color: #505961;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.demo .colors-blocks .item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  margin-bottom: 12px;
}
.demo .colors-blocks .item-color {
  border: 1px solid #eee;
}
.demo .colors-blocks .item-bg {
  color: #fff;
}
