.color-green {
  color: @color-green;
}

.color-red {
  color: @color-red;
}

.color-blue {
  color: @color-blue;
}

.color-blue-light {
  color: @color-blue-light;
}


.background-green {
  background-color: @color-green;
}

.background-red {
  background-color: @color-red;
}

.background-blue {
  background-color: @color-blue;
}

.background-blue-light {
  background-color: @color-blue-light;
}