.color-grey-light {
  color: @color-grey-light;
}

.color-grey {
  color: @color-grey;
}

.color-grey-dark {
  color: @color-grey-dark;
}

.color-green {
  color: @color-green;
}

.color-red {
  color: @color-red;
}

.color-blue {
  color: @color-blue;
}

.color-blue-light {
  color: @color-blue-light;
}

.background-grey-light {
  background-color: @color-grey-light;
}

.background-grey {
  background-color: @color-grey;
}

.background-grey-dark {
  background-color: @color-grey-dark;
}

.background-green {
  background-color: @color-green;
}

.background-red {
  background-color: @color-red;
}

.background-blue {
  background-color: @color-blue;
}

.background-blue-light {
  background-color: @color-blue-light;
}