.uppercase {
  text-transform: uppercase;
}

.no-border {
  border: none;
}

.border-transparent {
  border-color: transparent;
}

.rounded {
  .border-radius(@base-border-radius);
}

.rounded-2x {
  .border-radius(@base-border-radius * 2);
}

.opacity-25 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.25;
}

.opacity-100 {
  opacity: 0;
}