<% title = 'Alerts' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<div class="alert">
    Hello, and welcome to our world!
</div>

<div class="alert alert-error">
    Attention! Your action is not allowed here!
</div>

<div class="alert alert-attention">
    It is your last chance to invoke a princess...
</div>

<div class="alert alert-ok">
    Good. Take our benefits!
</div>

<div class="alert alert-info">
    Stylo!
</div>
<!-- /VIEWPORT -->

<% include ../include/content-post.ejs %>