<% title = 'Animation' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<p>Try double click on the blocks to play their animations</p>

<div class="grid-10">
    <div class="span-5">
        <p class="alert color-white background-grey-light animation-test animated centered text-center" data-animation="bounce">
            .bounce
        </p>

        <p class="alert color-white background-grey animation-test animated centered text-center" data-animation="flash">
            .flash
        </p>

        <p class="alert color-white background-grey-dark animation-test animated centered text-center" data-animation="tada">
            .tada
        </p>

        <p class="alert color-white background-blue animation-test animated centered text-center" data-animation="shake">
            .shake
        </p>

        <p class="alert color-white background-blue-light animation-test animated centered text-center" data-animation="swing">
            .swing
        </p>

        <p class="alert color-white background-green animation-test animated centered text-center" data-animation="wobble">
            .wobble
        </p>

        <p class="alert color-white background-green-light animation-test animated centered text-center" data-animation="bounceIn">
            .bounceIn
        </p>

        <p class="alert color-white background-yellow animation-test animated centered text-center" data-animation="bounceInDown">
            .bounceInDown
        </p>

        <p class="alert color-white background-yellow-light animation-test animated centered text-center" data-animation="bounceInLeft">
            .bounceInLeft
        </p>

        <p class="alert color-white background-red animation-test animated centered text-center" data-animation="bounceInRight">
            .bounceInRight
        </p>

        <p class="alert color-white background-red-light animation-test animated centered text-center" data-animation="bounceInUp">
            .bounceInUp
        </p>
    </div>

    <div class="span-5">
        <p class="alert color-white background-grey-light animation-test animated centered text-center" data-animation="bounce">
            .bounce
        </p>

        <p class="alert color-white background-grey animation-test animated centered text-center" data-animation="flash">
            .flash
        </p>

        <p class="alert color-white background-grey-dark animation-test animated centered text-center" data-animation="tada">
            .tada
        </p>

        <p class="alert color-white background-blue animation-test animated centered text-center" data-animation="shake">
            .shake
        </p>

        <p class="alert color-white background-blue-light animation-test animated centered text-center" data-animation="swing">
            .swing
        </p>

        <p class="alert color-white background-green animation-test animated centered text-center" data-animation="wobble">
            .wobble
        </p>

        <p class="alert color-white background-green-light animation-test animated centered text-center" data-animation="bounceIn">
            .bounceIn
        </p>

        <p class="alert color-white background-yellow animation-test animated centered text-center" data-animation="bounceInDown">
            .bounceInDown
        </p>

        <p class="alert color-white background-yellow-light animation-test animated centered text-center" data-animation="bounceInLeft">
            .bounceInLeft
        </p>

        <p class="alert color-white background-red animation-test animated centered text-center" data-animation="bounceInRight">
            .bounceInRight
        </p>

        <p class="alert color-white background-red-light animation-test animated centered text-center" data-animation="bounceInUp">
            .bounceInUp
        </p>
    </div>
</div>

<code><pre class="prettyprint">
$('.animation-test').on('dblclick', function(e){
    $(this).QAnimate('bounce');
});
</pre></code>


<!-- /VIEWPORT -->

<% include ../include/content-post.ejs %>