<% title = 'Buttons' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<button class="button button-fat">Log in</button>
<button class="button">Log in</button>
<button class="button button-slim">Log in</button>
<button class="button button-skinny">Log in</button>
<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>