<% title = 'Colors' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<h2>Colors and backgrounds</h2>

<div class="grid-12">
    <div class="span-6">
        <div class="colors-blocks">
            <div class="item item-color color-blue">.color-blue</div>
            <div class="item item-color color-blue-light">.color-blue-light</div>
            <div class="item item-color color-green">.color-green</div>
            <div class="item item-color color-red">.color-red</div>
            <div class="item item-color color-yellow">.color-yellow</div>
            <div class="item item-color color-grey-light">.color-grey-light</div>
            <div class="item item-color color-grey">.color-grey</div>
            <div class="item item-color color-grey-dark">.color-grey-dark</div>
        </div>
    </div>
    <div class="span-6">
        <div class="colors-blocks">
            <div class="item item-bg background-blue">.background-blue</div>
            <div class="item item-bg background-blue-light">.background-blue-light</div>
            <div class="item item-bg background-green">.background-green</div>
            <div class="item item-bg background-red">.background-red</div>
            <div class="item item-bg background-yellow">.background-yellow</div>
            <div class="item item-bg background-grey-light">.background-grey-light</div>
            <div class="item item-bg background-grey">.background-grey</div>
            <div class="item item-bg background-grey-dark">.background-grey-dark</div>
        </div>
    </div>
</div>
<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>