<% title = 'Quodo' %>

<!DOCTYPE html>
<html>
    <% include ../include/head.ejs %>
    <body class="demo">
        <% include ../include/header.ejs %>

        <div class="wrapper">
            <div class="content">
                <% include ../include/nav-links.ejs %>
            </div>
        </div>

        <% include ../include/footer.ejs %>
        <% include ../include/scripts.ejs %>
    </body>
</html>