<% title = 'Quodo' %>

<!DOCTYPE html>
<html>
    <% include ../include/head.ejs %>
    <body class="demo">
        <% include ../include/header.ejs %>

        <div class="wrapper">
            <div class="content">
                <div class="topic topic-bordered">
                    <a class="button button-action button-fat" href="quodo.zip">Download <span class="opacity-25">(70 KB)</span></a>
                    
                    <nav class="index-links">
                        <% include ../include/nav-links.ejs %>
                    </nav>
                </div>
            </div>
        </div>

        <% include ../include/footer.ejs %>
        <% include ../include/scripts.ejs %>
    </body>
</html>