<% title = 'Links' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->

<p>
    There is a three methods to display a links in Quodo. A classic one, a dashed for interactive triggers,
    and translucent-border, that gives a nifty modern look to your web-app. Look at this, they also can wear
    a color classes.
</p>

<h2>Simple links</h2>

<a style="margin-right: 40px" href="#stayhere">Backwards</a>
<a style="margin-right: 40px" href="#stayhere">Play</a>
<a style="margin-right: 40px" href="#stayhere">Pause</a>
<a style="margin-right: 40px" href="#stayhere">Forward</a>
<a style="margin-right: 40px" href="#stayhere">Eject</a>
<a class="color-red" style="margin-right: 40px" href="#stayhere">Stop</a>

<hr/>

<h3><a href="#stayhere">Lorem ipsum</a></h3>

<p>
    Lorem ipsum dolor sit amet, <a href="#stayhere">consectetur adipisicing</a> elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea <a href="#stayhere">commodo</a> consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.
</p>

<code><pre class="prettyprint">
&lt;a class="color-red" href="#"&gt;...&lt;/a&gt;
</pre></code>

<br/><br/>


<h2>Bordered links</h2>

<a class="link-underlined" style="margin-right: 40px" href="#stayhere">Backwards</a>
<a class="link-underlined" style="margin-right: 40px" href="#stayhere">Play</a>
<a class="link-underlined" style="margin-right: 40px" href="#stayhere">Pause</a>
<a class="link-underlined" style="margin-right: 40px" href="#stayhere">Forward</a>
<a class="link-underlined" style="margin-right: 40px" href="#stayhere">Eject</a>
<a class="link-underlined color-red" style="margin-right: 40px" href="#stayhere">Stop</a>

<hr/>

<h3><a class="link-underlined" href="#stayhere">Lorem ipsum</a></h3>

<p>
    Lorem ipsum dolor sit amet, <a class="link-underlined" href="#stayhere">consectetur adipisicing</a> elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea <a class="link-underlined" href="#stayhere">commodo</a> consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.
</p>

<code><pre class="prettyprint">
&lt;a class="link-underlined" href="#"&gt;...&lt;/a&gt;
</pre></code>

<br/><br/>

<h2>Dashed links</h2>

<a class="link-dashed" style="margin-right: 40px" href="#stayhere">Backwards</a>
<a class="link-dashed" style="margin-right: 40px" href="#stayhere">Play</a>
<a class="link-dashed" style="margin-right: 40px" href="#stayhere">Pause</a>
<a class="link-dashed" style="margin-right: 40px" href="#stayhere">Forward</a>
<a class="link-dashed" style="margin-right: 40px" href="#stayhere">Eject</a>
<a class="link-dashed color-red" style="margin-right: 40px" href="#stayhere">Stop</a>

<hr/>

<h3><a class="link-dashed" href="#stayhere">Lorem ipsum</a></h3>

<p>
    Lorem ipsum dolor sit amet, <a class="link-dashed" href="#stayhere">consectetur adipisicing</a> elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea <a class="link-dashed" href="#stayhere">commodo</a> consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.
</p>

<code><pre class="prettyprint">
&lt;a class="link-dashed color-red" href="#"&gt;...&lt;/a&gt;
</pre></code>

<br/><br/>

<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>