<% title = 'Navigation' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->  
<h2>Navigation blocks</h2>

<p>
    The nav blocks can have a horizontal and vertical layout. Both of that types, can have
    a fancy stack of three color themes: <samp>.nav-bordered</samp>, <samp>.nav-light</samp>
    and, of course, <samp>.nav-dark</samp>. Notice, how stretchy looks those items of <samp>.nav-stretched</samp>.
</p>

<h3>Horizontal</h3>

<nav class="nav-horizontal nav-bordered">
    <a class="active" href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
</nav>

<nav class="nav-horizontal nav-light">
    <a href="#">Item 1</a>
    <a class="active" href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
</nav>

<nav class="nav-horizontal nav-dark nav-stretched">
    <a href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a class="active" href="#">Item 4</a>
</nav>

<code><pre class="prettyprint">
&lt;nav class="nav-horizontal nav-bordered"&gt;
    &lt;a class="active" href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-horizontal nav-light"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-horizontal nav-dark nav-stretched"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;
</pre></code>

<br/><br/>

<h3>Vertical</h3>

<p>Vertical nav is a great feature to simple make of any aside navigation block, such as a sub-menu.</p>

<div class="grid-12">
    <div class="span-4">
        <h3 class="subheading">Bordered</h3>
        <nav class="nav-vertical nav-bordered">
            <a class="active" href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-4">
        <h3 class="subheading">Light</h3>
        <nav class="nav-vertical nav-light">
            <a href="#">Item 1</a>
            <a class="active" href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-4">
        <h3 class="subheading">Dark</h3>
        <nav class="nav-vertical nav-dark">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a class="active" href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-3">

    </div>
</div>

<code><pre class="prettyprint">
&lt;nav class="nav-horizontal nav-bordered"&gt;
    &lt;a class="active" href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-horizontal nav-light"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-horizontal nav-dark nav-stretched"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a class="active" href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;
</pre></code>

<br/><br/>

<h3>Item sizes</h3>

<p>
    Sizes classes can be applied on both of vertical and horizontal navigation blocks.
</p>

<div class="grid-12">
    <div class="span-3">
        <h3 class="subheading">Fat</h3>

        <nav class="nav-vertical nav-bordered nav-fat">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-3">
        <h3 class="subheading">Default</h3>

        <nav class="nav-vertical nav-bordered">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-3">
        <h3 class="subheading">Slim</h3>

        <nav class="nav-vertical nav-bordered nav-slim">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
    <div class="span-3">
        <h3 class="subheading">Skinny</h3>

        <nav class="nav-vertical nav-bordered nav-skinny">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
            <a href="#">Item 4</a>
        </nav>
    </div>
</div>

<code><pre class="prettyprint">
&lt;nav class="nav-vertical nav-bordered nav-fat"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;
        
&lt;nav class="nav-vertical nav-bordered"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-vertical nav-bordered nav-slim"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;

&lt;nav class="nav-vertical nav-bordered nav-skinny"&gt;
    &lt;a href="#"&gt;Item 1&lt;/a&gt;
    &lt;a href="#"&gt;Item 2&lt;/a&gt;
    &lt;a href="#"&gt;Item 3&lt;/a&gt;
    &lt;a href="#"&gt;Item 4&lt;/a&gt;
&lt;/nav&gt;
</pre></code>

<br/><br/>

<h2>Tabs navigation</h2>

<nav class="nav-tabs">
    <a href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
</nav>
<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>