<% title = 'Tables' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<h2>Simple table</h2>

<table class="table width-100">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>H/P</th>
            <th>Max speed</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Audi</td>
            <td>RS6</td>
            <td>430</td>
            <td>250 km/h</td>
            <td>69 000 &euro;</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>M5</td>
            <td>459</td>
            <td>295 km/h</td>
            <td>$75 000 &euro;</td>
        </tr>
        <tr>
            <td>Mercedes Benz</td>
            <td>CL 65 AMG</td>
            <td>495</td>
            <td>301 km/h</td>
            <td>$95 000 &euro;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total price</td>
            <td>238 000 &euro;</td>
        </tr>
    </tfoot>
</table>

<br/>
<br/>

<h2>Bordered table</h2>

<table class="table table-bordered width-100">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>H/P</th>
            <th>Max speed</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Audi</td>
            <td>RS6</td>
            <td>430</td>
            <td>250 km/h</td>
            <td>69 000 &euro;</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>M5</td>
            <td>459</td>
            <td>295 km/h</td>
            <td>$75 000 &euro;</td>
        </tr>
        <tr>
            <td>Mercedes Benz</td>
            <td>CL 65 AMG</td>
            <td>495</td>
            <td>301 km/h</td>
            <td>$95 000 &euro;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total price</td>
            <td>238 000 &euro;</td>
        </tr>
    </tfoot>
</table>

<br/>
<br/>

<h2>Boxed table</h2>

<table class="table table-vertical-border table-boxed width-100">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>H/P</th>
        <th>Max speed</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Audi</td>
        <td>RS6</td>
        <td>430</td>
        <td>250 km/h</td>
        <td>69 000 &euro;</td>
    </tr>
    <tr>
        <td>BMW</td>
        <td>M5</td>
        <td>459</td>
        <td>295 km/h</td>
        <td>$75 000 &euro;</td>
    </tr>
    <tr>
        <td>Mercedes Benz</td>
        <td>CL 65 AMG</td>
        <td>495</td>
        <td>301 km/h</td>
        <td>$95 000 &euro;</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Total price</td>
        <td>238 000 &euro;</td>
    </tr>
    </tfoot>
</table>

<br/>
<br/>

<h2>Boxed and bordered table</h2>

<table class="table table-bordered table-boxed width-100">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>H/P</th>
        <th>Max speed</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Audi</td>
        <td>RS6</td>
        <td>430</td>
        <td>250 km/h</td>
        <td>69 000 &euro;</td>
    </tr>
    <tr>
        <td>BMW</td>
        <td>M5</td>
        <td>459</td>
        <td>295 km/h</td>
        <td>$75 000 &euro;</td>
    </tr>
    <tr>
        <td>Mercedes Benz</td>
        <td>CL 65 AMG</td>
        <td>495</td>
        <td>301 km/h</td>
        <td>$95 000 &euro;</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Total price</td>
        <td>238 000 &euro;</td>
    </tr>
    </tfoot>
</table>


<br/>
<br/>

<h2>Boxed and vertical-bordered table</h2>

<table class="table table-bordered-vertical table-boxed width-100">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>H/P</th>
        <th>Max speed</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Audi</td>
        <td>RS6</td>
        <td>430</td>
        <td>250 km/h</td>
        <td>69 000 &euro;</td>
    </tr>
    <tr>
        <td>BMW</td>
        <td>M5</td>
        <td>459</td>
        <td>295 km/h</td>
        <td>$75 000 &euro;</td>
    </tr>
    <tr>
        <td>Mercedes Benz</td>
        <td>CL 65 AMG</td>
        <td>495</td>
        <td>301 km/h</td>
        <td>$95 000 &euro;</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Total price</td>
        <td>238 000 &euro;</td>
    </tr>
    </tfoot>
</table>


<br/>
<br/>

<h2>Boxed and full-bordered table</h2>
<table class="table table-bordered-vertical table-bordered table-boxed width-100">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>H/P</th>
            <th>Max speed</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Audi</td>
            <td>RS6</td>
            <td>430</td>
            <td>250 km/h</td>
            <td>69 000 &euro;</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>M5</td>
            <td>459</td>
            <td>295 km/h</td>
            <td>$75 000 &euro;</td>
        </tr>
        <tr>
            <td>Mercedes Benz</td>
            <td>CL 65 AMG</td>
            <td>495</td>
            <td>301 km/h</td>
            <td>$95 000 &euro;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total price</td>
            <td>238 000 &euro;</td>
        </tr>
    </tfoot>
</table>


<br/>
<br/>

<h2>Hoverable table</h2>

<table class="table table-hovered width-100">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>H/P</th>
            <th>Max speed</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Audi</td>
            <td>RS6</td>
            <td>430</td>
            <td>250 km/h</td>
            <td>69 000 &euro;</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>M5</td>
            <td>459</td>
            <td>295 km/h</td>
            <td>$75 000 &euro;</td>
        </tr>
        <tr>
            <td>Mercedes Benz</td>
            <td>CL 65 AMG</td>
            <td>495</td>
            <td>301 km/h</td>
            <td>$95 000 &euro;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total price</td>
            <td>238 000 &euro;</td>
        </tr>
    </tfoot>
</table>


<br/>
<br/>

<h2>Hoverable table</h2>

<table class="table table-hoverable width-100">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>H/P</th>
            <th>Max speed</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Audi</td>
            <td>RS6</td>
            <td>430</td>
            <td>250 km/h</td>
            <td>69 000 &euro;</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>M5</td>
            <td>459</td>
            <td>295 km/h</td>
            <td>$75 000 &euro;</td>
        </tr>
        <tr>
            <td>Mercedes Benz</td>
            <td>CL 65 AMG</td>
            <td>495</td>
            <td>301 km/h</td>
            <td>$95 000 &euro;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total price</td>
            <td>238 000 &euro;</td>
        </tr>
    </tfoot>
</table>
<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>