<% title = 'Utils' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<h3>Text</h3>
<samp>.uppercase</samp>
<samp>.font-thin</samp>
<samp>.text-right</samp>
<samp>.text-center</samp>


<h3>Borders</h3>
<samp>.no-border</samp>
<samp>.border-transparent</samp>


<h3>Effect</h3>
<samp>.rounded</samp>
<samp>.rounded-2x</samp>


<h3>Opacity</h3>
<samp>.opacity-25</samp>
<samp>.opacity-50</samp>
<samp>.opacity-75</samp>
<samp>.opacity-100</samp>
<!-- /VIEWPORT -->

<% include ../include/content-post.ejs %>