<% title = 'Utils' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->
<h2>Simple utils</h2>

<h3>Text</h3>
<samp>.uppercase</samp>
<samp>.font-thin</samp>
<samp>.text-right</samp>
<samp>.text-center</samp>

<br/><br/>


<h3>Borders</h3>
<samp>.no-border</samp>
<samp>.border-transparent</samp>
<br/><br/>


<h3>Effect</h3>
<samp>.rounded</samp>
<samp>.rounded-2x</samp>
<br/><br/>


<h3>Opacity</h3>
<samp>.opacity-25</samp>
<samp>.opacity-50</samp>
<samp>.opacity-75</samp>
<samp>.opacity-100</samp>
<br/><br/>

<h2>Block utils</h2>
<div class="alert beveled text-center">.beveled</div>
<div class="alert embossed text-center">.embossed</div>
<!-- /VIEWPORT -->

<% include ../include/content-post.ejs %>