<% title = 'Widths' %>

<% include ../include/content-pre.ejs %>

<!-- VIEWPORT -->


<h2>Page content wrap and width limiters</h2>

<p>
    In example below, a page wrapper, that centering and stretching it's content to 80% of body width, but with a maximum width of 1240 px.
</p>

<code><pre class="prettyprint">
&lt;div class="wrapper width-fluid-80 width-static-1240"&gt;&lt;/div&gt;</pre></code>

<br/>

<h2>Percentage widths</h2>

<div class="container grid-sample">
    <div>
        <div class="width-10">.width-10</div>
        <div class="width-20">.width-20</div>
        <div class="width-25">.width-25</div>
        <div class="width-30">.width-30</div>
        <div class="width-33">.width-33</div>
        <div class="width-35">.width-35</div>
        <div class="width-40">.width-40</div>
        <div class="width-50">.width-50</div>
        <div class="width-60">.width-60</div>
        <div class="width-66">.width-66</div>
        <div class="width-70">.width-70</div>
        <div class="width-75">.width-75</div>
        <div class="width-80">.width-80</div>
        <div class="width-90">.width-90</div>
        <div class="width-100">.width-100</div>
    </div>
</div>

<br/>

<code><pre class="prettyprint">
&lt;div class="width-10"&gt;...&lt;/div&gt;
&lt;div class="width-100"&gt;...&lt;/div&gt;</pre></code>
<!-- /VIEWPORT -->   

<% include ../include/content-post.ejs %>