<div class="nav-hero">
    <div class="wrapper-1100">
        <div class="content-standard">
            <a href="/Quodo/index.html" class="logo">Quodo</a>

            <nav>
                <a href="https://github.com/Fortyfour/Quodo" class="active link-underlined color-white">Github</a>
            </nav>
        </div>
    </div>
</div>