<a class="<% if (title == 'Typography') { %>active<% } %>" href="typography.html">Typography</a>
<a class="<% if (title == 'Grid system') { %>active<% } %>" href="grid-system.html">Grid system</a>
<a class="<% if (title == 'Widths') { %>active<% } %>" href="widths.html">Widths</a>
<a class="<% if (title == 'Forms') { %>active<% } %>" href="forms.html">Forms</a>
<a class="<% if (title == 'Buttons') { %>active<% } %>" href="buttons.html">Buttons</a>
<a class="<% if (title == 'Tables') { %>active<% } %>" href="tables.html">Tables</a>
<a class="<% if (title == 'Navigation') { %>active<% } %>" href="navigation.html">Navigation</a>
<a class="<% if (title == 'Labels') { %>active<% } %>" href="labels.html">Labels</a>
<a class="<% if (title == 'Colors') { %>active<% } %>" href="colors.html">Colors</a>
<a class="<% if (title == 'Utils') { %>active<% } %>" href="utils.html">Utils</a>
<a class="<% if (title == 'Links') { %>active<% } %>" href="links.html">Links</a>
<a class="<% if (title == 'Alerts') { %>active<% } %>" href="alerts.html">Alerts</a>
<a class="<% if (title == 'Misc') { %>active<% } %>" href="misc.html">Misc</a>
<a class="<% if (title == 'Animation') { %>active<% } %>" href="animation.html">Animation</a>
<a class="<% if (title == 'LESS Mixins') { %>active<% } %>" href="less-mixins.html">LESS Mixins</a>