<nav class="nav-vertical nav-bordered">
    <a <% if (title == 'Typography') { %>class="active"<% } %> href="typography.html">Typography</a>
    <a <% if (title == 'Grid system') { %>class="active"<% } %> href="grid-system.html">Grid system</a>
    <a <% if (title == 'Widths') { %>class="active"<% } %> href="widths.html">Widths</a>
    <a <% if (title == 'Forms') { %>class="active"<% } %> href="forms.html">Forms</a>
    <a <% if (title == 'Tables') { %>class="active"<% } %> href="tables.html">Tables</a>
    <a <% if (title == 'Navigation') { %>class="active"<% } %> href="navigation.html">Navigation</a>
    <a <% if (title == 'Labels') { %>class="active"<% } %> href="labels.html">Labels</a>
    <a <% if (title == 'Colors') { %>class="active"<% } %> href="colors.html">Colors</a>
    <a <% if (title == 'Utils') { %>class="active"<% } %> href="utils.html">Utils</a>
    <a <% if (title == 'Links') { %>class="active"<% } %> href="links.html">Links</a>
    <a <% if (title == 'Misc') { %>class="active"<% } %> href="misc.html">Misc</a>
</nav>